/* -------------------------------------------------------------------- */
/* UILinkButton Component */
/* -------------------------------------------------------------------- */
.WebUI_UILinkButton{
	
}