/* Error */
.webui_progress_color_red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.webui_progress_color_green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.webui_progress_color_blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.webui_progressWrapper {
	width: 357px;
	overflow: hidden;
}

.webui_progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

.webui_progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.webui_progressBarInProgress,.webui_progressBarComplete,.webui_progressBarError
	{
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.webui_progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.webui_progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.webui_progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.webui_progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.webui_progressCancel:hover {
	background-position: 0px 0px;
}