<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<listener>
		<listener-class>net.hasor.servlet.startup.RuntimeListener</listener-class>
	</listener>
	<filter>
		<filter-name>runtime</filter-name>
		<filter-class>net.hasor.servlet.startup.RuntimeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>runtime</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/javascript</mime-type>
	</mime-mapping>
</web-app>