language: java
sudo: true

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

notifications:
  email: false

git:
  depth: 1

branches:
  only:
    - master
    - dev

before_install:
  - export TZ=Asia/Shanghai
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-dev

script: 
  - mvn clean package -Dmaven.javadoc.skip=true

after_success:
  - 
  
after_failure:
 -

services:
  - mysql

addons:
  hosts:
  - hasor.net
  - www.hasor.net