${rootData.put('pageTitle','开发文档')}
${rootData.put('navIndex',1)}

<#assign allList=versionMap.queryListOrerByVersion()/>
<#list allList as versionInfo>
    ${versionInfo.version!} --
</#list>
<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>
<iframe src="http://apis.hasor.net/apis/2.4.3/index.html" scrolling="no" onload="resizeIframe(this)" frameborder="0" style="width: 100%;"></iframe>

<!-- 
${rootData.put('pageTitle','APIs')}
${rootData.put('navIndex',1)}
<#assign allList=versionMap.queryListOrerByVersion()/>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Version</th>
        <th>Release Date</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <#list allList as versionInfo>
        <tr>
            <td>Release.Hasor-${versionInfo.version!}</td>
            <td>${versionInfo.releaseDate!}</td>
            <td>@mdo</td>
        </tr>
    </#list>
    </tbody>
</table>
--> 