/* -------------------------------------------------------------------- */
/* UIOutput Component */
/* -------------------------------------------------------------------- */
.WebUI_UIOutput{
	
}