/* --------------------------------------------------------------------
UIRadioOnlySelectInput Component 

.WebUI_UIRadioOnlySelectInput		列表布局
.WebUI_UIRadioOnlySelectInputBlock	块状布局
.WebUI_UIRadioOnlySelectInputFloat	流状布局
-------------------------------------------------------------------- */
.WebUI_UIRadioOnlySelectInput,.WebUI_UIRadioOnlySelectInputBlock,.WebUI_UIRadioOnlySelectInputFloat {padding:0px;margin:0px;border:1px solid #999;}
.WebUI_UIRadioOnlySelectInput li,.WebUI_UIRadioOnlySelectInputBlock li,.WebUI_UIRadioOnlySelectInputFloat li {line-height:25px;list-style:none;margin:2px;}
.WebUI_UIRadioOnlySelectInput em,.WebUI_UIRadioOnlySelectInputBlock em,.WebUI_UIRadioOnlySelectInputFloat em {font-style: normal;}
.WebUI_UIRadioOnlySelectInput a,.WebUI_UIRadioOnlySelectInputBlock a,.WebUI_UIRadioOnlySelectInputFloat a{text-decoration: none;background:#F9F9F9;display:block;border:1px solid #E0E0E0;}
.WebUI_UIRadioOnlySelectInput a:hover,.WebUI_UIRadioOnlySelectInputBlock a:hover,.WebUI_UIRadioOnlySelectInputFloat a:hover{text-decoration: none;background:#E0E0E0;border:1px solid #999;}
.WebUI_UIRadioOnlySelectInput label,.WebUI_UIRadioOnlySelectInputBlock label,.WebUI_UIRadioOnlySelectInputFloat label{display:block;}
.WebUI_UIRadioOnlySelectInputBlock li{float:left;width:200px;}
.WebUI_UIRadioOnlySelectInputFloat li{float:left;width:auto;}

.WebUI_UIRadioOnlySelectInput li.checked,.WebUI_UIRadioOnlySelectInputBlock li.checked,.WebUI_UIRadioOnlySelectInputFloat li.checked   {font-weight:bold;}
.WebUI_UIRadioOnlySelectInput li.nochecked,.WebUI_UIRadioOnlySelectInputBlock li.nochecked,.WebUI_UIRadioOnlySelectInputFloat li.nochecked {}
