<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.more.toos.wizards"
            class="org.dev.toos.ui.wizards.MoreProjectWizard"
            id="org.more.toos.wizards.newProject"
            name="More Project"
            project="true">
      </wizard>
   </extension>

</plugin>
