<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>RSF - ${pageTitle!}</title>
<!-- ================================================================================================================= -->
<link rel="shortcut icon" type="image/x-icon" href="${ctx_path}/static/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="${ctx_path}/static/Semantic-UI-v2.0.0/semantic.min.css">
<script src="${ctx_path}/static/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<script src="${ctx_path}/static/Semantic-UI-v2.0.0/semantic.min.js"></script>
<!-- ================================================================================================================= -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.item.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<style type="text/css">
body {
	min-height: 100px;
	padding-top: 47px;
}
</style>
<script>
$(document).ready(function() {
	$('.ui.dropdown').dropdown();
	$('.ui.checkbox').checkbox();
	$('.menu .item').tab();
});
</script>
</head>
<body>
	<#include "/control/menu.htm">
	<div class="ui container">${content_placeholder!}</div>
	<div class="ui container"><#include "/control/foot.htm"></div>
</body>
</html>