<#if !pageBaseURL?? ><#assign pageBaseURL="#?1=1"></#if>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="pagination">
      <li><a href="${pageBaseURL}&currentPage=<#if resultList.currentPage gt 0 >${resultList.currentPage - 1}<#else>0</#if>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      <#list 0..resultList.getTotalPage()-1 as pageIndex><#if pageIndex == resultList.currentPage>
      <li class="active"><a href="${pageBaseURL}&currentPage=${pageIndex}">${pageIndex + 1}</a></li>
      <#else>
      <li><a href="${pageBaseURL}&currentPage=${pageIndex}">${pageIndex + 1}</a></li>
      </#if></#list>
      <li><a href="${pageBaseURL}&currentPage=<#if resultList.currentPage lt resultList.getTotalPage()-1 >${resultList.currentPage + 1}<#else>${resultList.getTotalPage()-1}</#if>" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </div>
</nav>