<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" default-autowire="byName"
       xmlns:h="http://project.hasor.net/schema/spring/hasor-core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://project.hasor.net/schema/spring/hasor-core http://project.hasor.net/schema/spring/hasor-core/spring-hasor-2.5.1.xsd">

    <!-- 使用 Spring 的属性文件作为 Hasor 的环境变量配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:test-env.config</value>
        </property>
    </bean>

    <!-- 创建 Hasor 容器 -->
    <h:hasor refProperties="propertyConfigurer" startWith="net.test.hasor.core.spring.SpringTestModule">
        <!-- (可选) 如果需要指定Hasor配置文件那么在这里指明，否则不需要配置 -->
        <h:configFile>classpath:simple-config.xml</h:configFile>
    </h:hasor>

    <!-- 声明一个 Spring Bean，名称为：helloString。该 Bean 是通过 AppContext.getInstance('helloWord') 获取。 -->
    <h:bean id="helloString" refID="helloWord"/>

    <!-- 声明一个 Spring Bean，名称为：hasorBean。该 Bean 是通过 AppContext.getInstance(HasorBean.class) 获取。 -->
    <h:bean id="hasorBean" refType="net.test.hasor.core.spring.bean.HasorBean"/>

    <!-- 常规的 Spring Bean -->
    <bean id="springBean" class="net.test.hasor.core.spring.bean.SpringBean">
        <property name="hasorBean" ref="hasorBean"/>
    </bean>

</beans>