/* -------------------------------------------------------------------- */
/* UISelectOnlySelectInput Component */
/* -------------------------------------------------------------------- */
.WebUI_UISelectOnlySelectInput{
	
}