${rootModel.put('pageTitle','首页')}
<style>
.rightBorder {
	border-right: thick dashed #cfcfcf;
}
</style>
<div class="row">
	<div class="col-md-8 rightBorder"><#include "/control/readme.htm"></div>
	<div class="col-md-4">
		<div>
			<h3><#include "/control/macro_download.htm">最新版本&nbsp;&nbsp;${curentVersion}<@downloadSource version='${curentVersion}' small=true/></h3>
			<pre class="well">
&lt;dependency&gt;
  &lt;groupId>net.hasor&lt;/groupId&gt;
  &lt;artifactId>hasor-core&lt;/artifactId&gt;
  &lt;version>${curentVersion}&lt;/version&gt;
&lt;/dependency&gt;
</pre>
		</div>
		<h3>相关资源</h3>
		<ul class="list-group">
			<li class="list-group-item">QQ群：193943114 ，快速加群：<#include "/control/code_qq.htm"></li>
			<li class="list-group-item"><#include "/control/code_source.htm"></li>
			<li class="list-group-item">Team：<a href="https://team.oschina.net/hasor" target="_blank">https://team.oschina.net/hasor</a></li>
			<li class="list-group-item">Issues：<a href="http://git.oschina.net/zycgit/hasor/issues" target="_blank">http://git.oschina.net/zycgit/hasor/issues</a></li>
			<li class="list-group-item">Maven：<a href="http://search.maven.org/" target="_blank">http://search.maven.org/</a></li>
		</ul>
		<h3>打赏</h3>
		<img src="http://static.oschina.net/uploads/space/2015/1130/154023_xiMj_1166271.png" width="150" height="150" alt="" data-bd-imgshare-binded="1">
	</div>
</div>