/*----------------------------------------------------------------------*/
/* UIComponent Component（所有组建的根） */
/* -------------------------------------------------------------------- */
.WebUI_UIComponent{
	
}