<#assign pageTitle="应用管理">
<script src="/static/rsf/apps/appManager.js"></script>
<style type="text/css">
.paddingBottom {padding-bottom: 75px; }
</style>
<#if message.type == 0>
  <div class="list-group paddingBottom"><#list resultList.result as appDO>
    <#include "/control/app_info.htm">
    <#assign pageBaseURL="appManager.htm?1=1">
    <#include "/control/pageInfo.htm">
  </#list></div>
<#else>
  <div class="panel panel-default">
    <div class="panel-body">消息：${message.type} - ${message.message}</div>
  </div>
</#if>