<#assign pageTitle="应用注册">
<div class="ui top attached tabular menu">
	<div class="item active" data-tab="tab-appInfo">
		<i class="block layout icon"></i>应用信息
	</div>
	<div class="item" data-tab="tab-serviceList">
		<i class="cube icon"></i>服务信息
	</div>
	<div class="item" data-tab="tab-processList">
		<i class="certificate icon"></i>应用实例
	</div>
</div>

<!-- 应用信息 -->
<div class="ui bottom attached tab segment form active" data-tab="tab-appInfo">
	<!-- Tab Content !-->
	<#include "/control/apps/app_detail.htm">
</div>
<!-- 服务信息 -->
<div class="ui bottom attached tab segment" data-tab="tab-serviceList">
	<!-- Tab Content !-->
	<#include "/control/apps/service_block.htm">
</div>
<!-- 进程信息 -->
<div class="ui bottom attached tab segment" data-tab="tab-processList">
	<!-- Tab Content !-->
	<#include "/control/apps/trem_block.htm">
</div>
