<#assign pageTitle="应用注册">
<script src="/static/rsf/apps/serviceManager.js"></script>
<style type="text/css">
.input-group-addon {text-align: right; }
</style>
<div class="list-group paddingBottom">
  <#include "../block/app_info.htm">
  <div class="list-group-item">
  <#if message.type == 0>
    <div class="list-group paddingBottom"><#list resultList.result as appDO>
      <#include "../block/app_info.htm">
      <#assign pageBaseURL="serviceManager.htm?1=1">
      <#include "../block/pageInfo.htm">
    </#list></div>
  <#else>
    <div class="panel panel-default">
      <div class="panel-body">消息：${message.type} - ${message.message}</div>
    </div>
  </#if>
  </div>
</div>