<#assign pageTitle="应用注册">
<script src="/static/rsf/apps/serviceManager.js"></script>
<style type="text/css">
.input-group-addon {text-align: right;}
</style>
<script>
$(document).ready(function() {
	$('.table-transform').bootstrapTable();
});
</script>

<div class="list-group paddingBottom">
	<#include "/control/app_info.htm">
	<#if message.type == 0>
	<div class="list-group-item">
		<table class="table-transform" data-height="299">
			<thead>
				<tr>
					<th class="col-md-2" data-halign="center">服务分组</th>
					<th data-halign="center">服务名称</th>
					<th class="col-md-1" data-halign="center" data-align="center">版本</th>
					<th class="col-md-1" data-halign="center" data-align="center">动作</th>
				</tr>
			</thead>
			<tbody>
				<#list resultList.result as serviceInfoDO>
				<tr>
					<td>&nbsp;${serviceInfoDO.bindGroup!}</td>
					<td>&nbsp;${serviceInfoDO.bindName!}</td>
					<td>&nbsp;${serviceInfoDO.bindVersion!}</td>
					<td>
						<a href="#" title="详情"><i class="glyphicon glyphicon-info-sign"></i></a>
						<a href="#" title="编辑&规则"><i class="glyphicon glyphicon-edit"></i></a>
					</td>
				</tr>
				<!--         <tr> -->
				<!--           <td>服务接口：</td> -->
				<!--           <td>${serviceInfoDO.bindType!}</td> -->
				<!--         </tr> -->
				<!--         <tr> -->
				<!--           <td>负责人：</td> -->
				<!--           <td>${serviceInfoDO.onwer!}</td> -->
				<!--           <td>接口人：</td> -->
				<!--           <td>${serviceInfoDO.contactUsers!}</td> -->
				<!--           <td>一致性：</td> -->
				<!--           <td>${serviceInfoDO.consistency!}</td> -->
				<!--           <td>更新时间：</td> -->
				<!--           <td>${serviceInfoDO.modifyTime?string("yyyy-MM-dd a")}</td> -->
				<!--         </tr> -->
				<!--     <tr> -->
				<!--       <td>接口描述：</td> -->
				<!--       <td colspan="7">${serviceInfoDO.description!}</td> -->
				<!--     </tr> -->
				</#list>
			</tbody>
		</table>
	</div>
	<#else>
	<div class="list-group-item panel panel-default">
		<div class="panel-body">消息：${message.type} - ${message.message}</div>
	</div>
	</#if>
</div>