/** css/yourtheme.css **/
/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css'; /* for Alabaster */
/*@import 'theme.css';       /* for the Read the Docs theme */


.wy-nav-content {
    max-width: 100%;
}
