/** css/yourtheme.css **/
/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css'; /* for Alabaster */
/*@import 'theme.css';       /* for the Read the Docs theme */

.wy-nav-content {
    max-width: 100%;
}

.wy-nav-side {
    top: 60px;
}

.my-top {
    height: 60px;
}

.my-top-fixed {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    border-bottom: 3px solid #2980B9;
    background: white;
}