${rootData.put('pageTitle','跳转中...')}
<script type="application/javascript">
    //
    $(function () {

    });

    function doSubmit() {
        var formData = {
            type: "${loginForm.type}",
            provider: "${loginForm.provider}",
            state: "${loginForm.state}",
            code: "${loginForm.code}",
            redirectURI: "${loginForm.redirectURI}",
            csrfToken: "${csrfToken}"
        };
        //
        var loginResult = $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader("ajaxTo", "true");
            },
            url: "${ctx_path}/account/access_token.do",
            data: formData,
            dataType: 'json',
            async: false,
            success: function (data) {
                //
            }
        });

        //
        var loginData = loginResult.responseText;
        loginData = null ? "failed -> 无返回结果。" : loginData;
        alert(loginData);
    }
</script>
<input type="button" onclick="doSubmit();" value="递交,继续登陆..."/> 