${rootData.put('pageTitle','登录')}
${rootData.put('navIndex',7)}
<link rel="stylesheet" href="${ctx_path}/static/css/login.css">
<div style="width:500px; margin:0 auto; ">
    <h1>登录</h1>
    <form class="form-horizontal">
        <input type="hidden" name="redirectURI" value="${req_redirectURI}"/>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" value="${loginForm.email}">
            </div>
            <!-- 帐号的验证结果 -->
            <#if validData["account"]?? >${validData["account"]?join(",")}</#if>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <!-- 密码的验证结果 -->
            <#if validData["password"]?? >${validData["password"]?join(",")}</#if>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" onclick="alert('功能开发中,请使用QQ登录.');">Sign in</a>
                <a class="btn btn-default" onclick="alert('功能开发中,请使用QQ登录.');">Sign Up</a>
            </div>
            <div class="third-part">
                <a id="qqAuthorizationUrl" class="qq" href="${tencent.evalLoginURL(req_redirectURI)}" target="_blank"></a>
                <!-- 
                <a id="weiboAuthorizationUrl" class="sina" href="javascript:void(0);"></a>
                <a id="baiduAuthorizationUrl" class="baidu" href="javascript:void(0);"></a>
                <a id="wechatAuthorizationUrl" class="wechat" href="javascript:void(0);"></a>
                -->
                <a id="githubAuthorizationUrl" class="github" href="${github.evalLoginURL(req_redirectURI)}"></a>
            </div>
        </div>
    </form>
</div>