<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.more.toos.views"
            name="More Developer Kit">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.more.toos.wizards"
            name="More Developer Kit">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.more.toos.commands"
            name="More Developer Kit">
      </category>
   </extension>

</plugin>
