<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:h="http://project.hasor.net/hasor/schema/spring"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://project.hasor.net/hasor/schema/spring http://project.hasor.net/hasor/schema/spring-hasor-2.3.0.xsd"
	default-autowire="byName">

	<!-- 
		Spring中使用Hasor
		
			方式一，让Hasor加载来自Spring中配置的Module
		
			<bean id="startWith" class="net.test.hasor.spring.SpringTestModule"></bean>
			<h:hasor factoryID="hasor" startWithRef="startWith" />
	
			方式二，简化配置
			<h:hasor factoryID="hasor" startWith="net.test.hasor.spring.SpringTestModule" />
			
		将Hasor中的Bean导出到Spring中
		
			<h:bean id="helloString" refID="helloString" hasorID="hasor" />
			<h:bean id="helloString" refType="net.test.hasor.spring.bean.HasorBean" hasorID="hasor" />
			<h:bean id="helloString" refType="" refName="" hasorID="hasor" />
		
	-->

	<h:hasor factoryID="hasor" startWith="net.test.hasor.spring.SpringTestModule">
		<h:configFile resource="" />
		<!-- 将Hasor中ID为helloWord的Bean导出到Spring中，并定名为helloString -->
		<h:bean id="helloString" refID="helloWord" />
	</h:hasor>


	<!-- 将Hasor的Bean导出到Spring中。因为在h:hasor标签之外声明，所以需要通过hasorID来指定使用的是哪一个Hasor容器 -->
	<h:bean id="hasorBean" refType="net.test.hasor.spring.bean.HasorBean" hasorID="hasor" />
</beans>