<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" default-autowire="byName">

	<!-- Spring的方式发送事件给 Hasor  -->
	<bean id="springEventPublisher" class="net.test.hasor.spring.event.tohasor.SpringEventPublisher" />
	<!-- Spring的方式接收来自Hasor的事件 -->
	<bean id="hasorEventListener" class="net.test.hasor.spring.event.tospring.ReceiveEventListener" />

</beans>