#content #query .content dd,#content #query .content dd {
	padding: 0px 5px 5px 0px;
}

#content #query .content dd textarea {
	width: 99%;
}

#content #query .content dd span {
	width: 110px;
	display: block;
	float: left;
	text-align: right;
}

#content #query .content input.number {
	width: 60px;
}

#content #query .content input.text {
	width: 250px;
}