{% extends "!layout.html" %} {% block extrabody %}
<div class="my-top">
    <div class="my-top-fixed">
        <!-- Home -->
        [<a target="_blank" href="http://www.hasor.net">Home</a>]
        [<a target="_blank" href="mailto:zyc@byshell.org">zyc@byshell.org</a>]
        [<a target="_blank" href="https://www.hasor.net/apis/hasor/4.1.x/4.1.10/index.html">Api Docs</a>]
        [<a target="_blank" href="https://www.hasor.net/jacoco-ut/index.html">Coverage</a>]
        <!-- License -->
        <a target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0.html">
            <img src="https://img.shields.io/badge/license-Apache%202-4EB1BA.svg" alt="License">
        </a>
        <!-- Maven -->
        <a target="_blank" href="https://maven-badges.herokuapp.com/maven-central/net.hasor/hasor-core">
            <img src="https://maven-badges.herokuapp.com/maven-central/net.hasor/hasor-core/badge.svg" alt="Maven">
        </a>
        <!-- Travis-ci -->
        <a target="_blank" href="https://travis-ci.org/zycgit/hasor">
            <img src="https://travis-ci.org/zycgit/hasor.svg?branch=master" alt="Build Status">
        </a>
        <!-- QQ群：193943114 -->
        <a target="_blank" href="https://shang.qq.com/wpa/qunwpa?idkey=15b02e932a47d714591981afb98a68f8bd8ffee59ead2c394fb7e5834ff3b2ea">
            <img border="0" src="https://pub.idqqimg.com/wpa/images/group.png" alt="Hasor官方社区" title="Hasor官方社区">[群号：193943114]
        </a>

        <div style="float:right">
            <!-- Github -->
            <script async defer src="https://buttons.github.io/buttons.js"></script>
            <a target="_blank" class="github-button" href="https://github.com/zycgit/hasor" data-show-count="true" aria-label="Star zycgit/hasor on GitHub">Star</a>
            <a target="_blank" class="github-button" href="https://github.com/zycgit/hasor/fork" data-show-count="true" aria-label="Fork zycgit/hasor on GitHub">Fork</a>
            <br/>
            <!-- gitee -->
            <a target="_blank" class="git-source" href='https://gitee.com/zycgit/hasor/stargazers'><img src='https://gitee.com/zycgit/hasor/badge/star.svg?theme=dark' alt='star'/></a>
            <a target="_blank" class="git-source" href='https://gitee.com/zycgit/hasor/members'><img src='https://gitee.com/zycgit/hasor/badge/fork.svg?theme=dark' alt='fork'/></a>
        </div>
    </div>
</div>
{% endblock %}