<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://project.byshell.org/more/schema/global">
	<!-- 框架配置 -->
	<framework>
		<!-- 包扫描覆盖范围 -->
		<loadPackages>org.*, com.*, net.*, cn.*</loadPackages>
	</framework>
	<!-- 权限配置 -->
	<security enable="true">
		<!-- 转发配置 -->
		<forwards>
			<dispatch contentPath="/admin" defaultType="redirect">
				<forwardIndex type="redirect">/admin/admin_index.htm</forwardIndex>
				<forwardLogout type="redirect">/admin/login.htm</forwardLogout>
				<forwardFailure processMode="State">402</forwardFailure>
			</dispatch>
			<dispatch contentPath="/user" defaultType="redirect">
				<forwardIndex type="redirect">/user/user_index.htm</forwardIndex>
				<forwardLogout type="redirect">/user/login.htm</forwardLogout>
				<forwardFailure processMode="State">501</forwardFailure>
			</dispatch>
			<dispatch contentPath="/bbs" defaultType="redirect">
				<forwardIndex type="redirect">/bbs/bbs_index.htm</forwardIndex>
				<forwardLogout type="redirect">/bbs/login.htm</forwardLogout>
				<forwardFailure processMode="State">188</forwardFailure>
			</dispatch>
		</forwards>
		<rules>
			<!-- URL权限检查默认策略配置：Login|Logout|Guest|Permission|None -->
			<defaultRule mode="Permission" permissions="sdfsd" />
			<includes>
				<include mode="Login">/user</include>
				<include mode="Permission" permissions="AdminPower">/admin</include>
				<include mode="Permission" permissions="BBSPower">/bbs</include>
			</includes>
			<excludes>
				<exclude></exclude>
			</excludes>
		</rules>
	</security>
</config>