<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://project.byshell.org/more/schema/global">
	<!-- 框架配置 -->
	<framework>
		<!-- 包扫描覆盖范围 -->
		<loadPackages>org.*, com.*, net.*, cn.*</loadPackages>
	</framework>
	<!-- 权限配置 -->
	<security enable="true">
	</security>
	<!-- 缓存配置 -->
	<cacheConfig enable="true">
		<!-- !!!这里需要自定义!!! -->
	</cacheConfig>

</config>