<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" metadata-complete="true">
	<listener>
		<listener-class>net.hasor.web.startup.RuntimeListener</listener-class>
	</listener>
	<!-- Any path (name) registered in solrconfig.xml will be sent to that filter -->
	<filter>
		<filter-name>SolrRequestFilter</filter-name>
		<filter-class>net.hasor.search.server.servlet.SolrDispatchFilter</filter-class>
		<!-- If you are wiring Solr into a larger web application which controls the web context root, you will probably want to mount Solr under a path prefix (app.war with /app/solr mounted into it, for example). You will need to put this prefix in front of the SolrDispatchFilter url-pattern mapping too (/solr/*), and also on any paths for legacy Solr servlet mappings you may be using. For the Admin UI to work properly in a path-prefixed configuration, the admin folder containing the resources needs to be under the app context root named to match the path-prefix. For example: .war xxx js main.js -->
		<!-- <init-param> <param-name>path-prefix</param-name> <param-value>/xxx</param-value> </init-param> -->
	</filter>

	<filter-mapping>
		<!-- NOTE: When using multicore, /admin JSP URLs with a core specified such as /solr/coreName/admin/stats.jsp get forwarded by a RequestDispatcher to /solr/admin/stats.jsp with the specified core put into request scope keyed as "org.apache.solr.SolrCore". It is unnecessary, and potentially problematic, to have the SolrDispatchFilter configured to also filter on forwards. Do not configure this dispatcher as <dispatcher>FORWARD</dispatcher>. -->
		<filter-name>SolrRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Zookeeper</servlet-name>
		<servlet-class>org.apache.solr.servlet.ZookeeperInfoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoadAdminUI</servlet-name>
		<servlet-class>org.apache.solr.servlet.LoadAdminUiServlet</servlet-class>
	</servlet>

	<!-- Remove in Solr 5.0 -->
	<!-- This sends SC_MOVED_PERMANENTLY (301) for resources that changed in 4.0 -->
	<servlet>
		<servlet-name>RedirectOldAdminUI</servlet-name>
		<servlet-class>org.apache.solr.servlet.RedirectServlet</servlet-class>
		<init-param>
			<param-name>destination</param-name>
			<param-value>${context}/#/</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>RedirectOldZookeeper</servlet-name>
		<servlet-class>org.apache.solr.servlet.RedirectServlet</servlet-class>
		<init-param>
			<param-name>destination</param-name>
			<param-value>${context}/zookeeper</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>RedirectLogging</servlet-name>
		<servlet-class>org.apache.solr.servlet.RedirectServlet</servlet-class>
		<init-param>
			<param-name>destination</param-name>
			<param-value>${context}/#/~logging</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>SolrRestApi</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>org.apache.solr.rest.SolrSchemaRestApi</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>SolrConfigRestApi</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>org.apache.solr.rest.SolrConfigRestApi</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>RedirectOldAdminUI</servlet-name>
		<url-pattern>/admin/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectOldAdminUI</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectOldZookeeper</servlet-name>
		<url-pattern>/zookeeper.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectLogging</servlet-name>
		<url-pattern>/logging</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Zookeeper</servlet-name>
		<url-pattern>/zookeeper</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoadAdminUI</servlet-name>
		<url-pattern>/admin.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SolrRestApi</servlet-name>
		<url-pattern>/schema/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SolrConfigRestApi</servlet-name>
		<url-pattern>/config/*</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>.xsl</extension>
		<!-- per http://www.w3.org/TR/2006/PR-xslt20-20061121/ -->
		<mime-type>application/xslt+xml</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>admin.html</welcome-file>
	</welcome-file-list>

</web-app>
