<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" default-autowire="byType"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:h="http://project.hasor.net/schema/spring/hasor-core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://project.hasor.net/schema/spring/hasor-core http://project.hasor.net/schema/spring/hasor-core/spring-hasor-3.2.2.xsd">

    <!-- 开启 Spring 的自动注入 -->
    <context:annotation-config/>

    <!-- Hasor 框架 -->
    <h:hasor>
        <!-- 服务IP -->
        <h:property name="RSF_CENTER_SERVERS">rsf://127.0.0.1:2181/default</h:property>
        <!-- 服务IP -->
        <h:property name="RSF_CENTER_WORK_MODE">client</h:property>

        <!-- 服务IP -->
        <h:property name="RSF_SERVICE_IP">127.0.0.1</h:property>
        <!-- Telnet 控制台端口 -->
        <h:property name="RSF_CONSOLE_PORT">2150</h:property>
        <!-- RSF 协议服务端口 -->
        <h:property name="RSF_SERVICE_PORT">2151</h:property>
        <!-- Hprose 协议服务端口 -->
        <h:property name="HPROSE_SERVICE_PORT">2152</h:property>
    </h:hasor>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- EchoService -->
    <bean id="echoService" class="net.hasor.plugins.spring.rsf.RsfConsumerBean" init-method="init">
        <property name="bindType" value="net.example.rsf.service.EchoService"/>
        <!--<property name="target" value="rsf://127.0.0.1:2180/default"/>-->
    </bean>
    <!-- MessageService -->
    <bean id="messageService" class="net.hasor.plugins.spring.rsf.RsfConsumerBean" init-method="init">
        <property name="bindType" value="net.example.rsf.service.MessageService"/>
        <!--<property name="target" value="rsf://127.0.0.1:2180/default"/>-->
    </bean>
</beans>