#content #files #tree-holder {
	float: left;
	width: 20%;
	overflow-x: scroll;
	border-right: 1px solid #c0c0c0;
}

#content #files form .buttons button {
	float: right;
}

#content #files #file-content {
	display: none;
	float: right;
	position: relative;
	width: 78%;
	min-height: 100px
}

#content #files .show #file-content {
	display: block;
}

.show {
	padding: 10px;
}

#content #files #file-content .response {
	border: 1px solid transparent;
	padding: 2px;
}